<div class="container" *ngIf="currentUser">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Todo App</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link nav-link" routerLink="todo" routerLinkActive="active">Todo</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
</div>
<div class="container" [@routeAnimation]="getAnimationData(routerOutlet)">
  <div style="margin: 20px;">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</div>